<div class="container signup-body">

  <div class="row justify-content-md-center">

    <button type="button" class="btn btn-info margin-button">
      <i class="fa fa-facebook " aria-hidden="true" left="left"></i>
      S'enregistrer avec Facebook</button>

  </div>

  <div class="row justify-content-md-center">

  <%= bootstrap_form_for(@user) do |f| %>
    <%= f.text_field :username %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <!-- // Date de naissance
    // Sexe
    // other ?
    -->

    <%= f.submit "S'enregistrer" %>

  <% end %>
