<!DOCTYPE html>
<html>
  <head>
    <title>Sportskorner</title>
    <%= csrf_meta_tags %>
    <!-- CSS/JS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Polices -->
    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <!--bootstrap 4 + Theme -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-CF64UnUzxV691sOmqagn+TQJmesKn1fgsYmlIPqYB5nm0m32jYo3LiX1BcrbuESZ" crossorigin="anonymous">
    <!-- JS bracket -->
    <script
       src="http://code.jquery.com/jquery-1.6.2.min.js"
       integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
       crossorigin="anonymous"></script>
    </head>
  <body>
    <!--Navbar-->
    <% unless current_page?(signup_path) %>
      <%= render 'layouts/navbar' %>
    <% else %>
      <%= render 'layouts/navbarSignup' %>
    <% end %>
    <!--Content -->
    <%= yield %>
  </body>
</html>
